* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 20px;
}

#introtitle {
    margin-bottom: 20px;
    font-size: xx-large;
}

button:hover {
    color: white;
    background: cornflowerblue;
}

#lrnmore {
    color: lightblue
}

#bgr {
    margin-top: 20px;
}

#back {
    margin: 20px 6.6%;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.how-to-use {
    margin-top: 20px;
}

.merits {
    margin-top: 20px;
}

button {
    padding: 5px;
}

#list {
    margin-top: 10px;
    align-self: center;
    align-items: center;
}

ul li {
    margin-top: 5px;
    margin-left: 20%;
}

p {
    margin: 20px 0;
}

img {
    width: 250px;
    height: 250px;
}

.solution {
    margin-top: 20px;
}

h3 {
    font-size: x-large;
    color: brown;
    margin: 20px 0;
}

@media (max-width:732px) {
    .how-to-use {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        width: 80%;
    }
}